c_distribucion_resultados
c_sim_espacial_moran_i_fullgrid
c_sim_espacial_moran_i_reina_orden_1
c_sim_espacial_moran_i_reina_orden_1_media
c_sim_serietemporal_moran_i_reina_orden_1_distEucST
c_sim_serietemporal_moran_i_reina_orden_1_mediaST
c_sim_serietemporal_moran_i_reina_orden_1_spatioTemporalAutocorrelation
c_sim_serietemporal_moran_i_reina_orden_1_sumadiffST
c_sim_serietemporal_moran_i_reina_orden_1_sumadiffST_sinSeriesFijas
c_sim_serietemporal_moran_i_reina_orden_2_distEucST
c_sim_temporal_series_euc
c_sim_temporal_series_mape
c_test_moran_i
c_test_printFirstRow_t0
c_test_sim_temporal_euc
c_test_sim_temporal_euc_random