ts_build_eeg_to_bin
ts_build_nasa_to_bin
ts_build_sm_to_bin
ts_comp_eeg_to_bitcompress
ts_comp_nasa_to_bitcompress
ts_comp_sm_to_bitcompress
ts_test_read_bin_eeg
ts_test_read_bin_nasa
ts_test_read_bin_sm
